alias k='kubectl'
alias t='terraform'
alias pwsh='pwsh -NoLogo'
alias utils='kubectl run --restart=Never --image=bjd145/utils:3.10 utils'
alias ghupdate='pwsh -command "Invoke-GitReposPull -ReposRoot ~/code -Verbose -IncludeStatus"' 
alias uuid='pwsh -command "New-UUID"' 
alias ds='DirectorySize' 

alias tunnel="az network bastion tunnel --name ${BASTION_NAME} --resource-group ${BASTION_RG} --target-resource-id ${JUMPBOX_ID} --resource-port 22 --port 2222"

alias dnsfix='echo "nameserver 1.1.1.1" | sudo tee /etc/resolv.conf'
alias kubefix='sed -i 's/devicecode/azurecli/g' ~/.kube/config'

alias docker-start='sudo /etc/init.d/docker start'
alias docker-stop='sudo /etc/init.d/docker stop'
alias docker-prune='docker container prune -f && docker image prune -f && docker volume prune -f && docker buildx prune -f'
alias docker-clean='docker rm -f $(docker ps -aq)'

alias gh-view='gh repo view --web'
alias gh-ssh='gh codespace ssh'
alias gh-code='gh codespace code'

alias terraform-clean='rm -rf terraform.tfstate.d .terraform.lock.hcl .terraform terraform.tfstate terraform.tfstate.backup .terraform.tfstate.lock.info'
alias npm-clean='rm -rf node_modules && rm -rf package-lock.json && npm install'

alias update-certs='acme.sh --server letsencrypt --renew-all --force'

alias azdlogin='azd login --client-id ${ARM_CLIENT_ID} --client-secret ${ARM_CLIENT_SECRET} --tenant-id ${ARM_TENANT_ID}'

alias git-commitversion='git rev-parse HEAD | head -c 8'

alias dsstore-clean='find . -name .DS_Store | xargs rm -f {}\;'
